Question 1:
Create a variable named my_name and assign it a string containing your name. Print the variable.

In [6]:
# write code here
my_name = 'John'
print(my_name)

John

Question 2:
Create an integer variable and log it, as well as its type.

In [7]:
# write code here
my_integer = 5
print(my_integer)
print(type(my_integer))

5
<class 'int'>

Question 3:
Create a float variable and log it, as well as its type.

In [8]:
# write code here
my_float = 3.14
print(my_float)
print(type(my_float))

3.14
<class 'float'>

Question 4:
Create a list variable and log it, as well as its type.

In [9]:
# write code here
my_list = [1,2,3]
print(my_list)
print(type(my_list))

[1, 2, 3]
<class 'list'>

Question 5:
Create a tuple variable and log it, as well as its type.

In [11]:
# write code here
my_tuple = (1,2,3)
print(my_tuple, type(my_tuple), 56, 'hello')

(1, 2, 3) <class 'tuple'> 56 hello

Question 6:
Create a boolean variable and log it, as well as its type.

In [12]:
# write code here
my_boolean = False
print(my_boolean, type(my_boolean))

True <class 'bool'>

Question 7:
Create a dictionary variable and log it, as well as its type.

In [18]:
# write code here
person = {'name':'John Doe', 'age': 35, 'address': '23 Westbrook Rd'}
print(person['address'])

23 Westbrook Rd

Question 8:
Convert the string "5" to an integer and assign it to a variable. Log the variable and its type.

In [22]:
# write code here
converted_integer = int("5")
print(converted_integer, type(converted_integer))

5 <class 'int'>

Question 9:
Convert the number 3.14 to a string and assign it to a variable. Log the variable and its type.

In [24]:
# write code here
converted_string = 3.14
print(converted_string, type(converted_string))

3.14 <class 'float'>

Question 10:
Add two integers together and assign the result to a variable. Log the variable.

In [25]:
# write code here
result = 2 + 3
print(result)

5

Question 11:
Subtract one float from another and assign the result to a variable. Log the variable.

In [26]:
# write code here
result = 3.5 - 1.2
print(result)

2.3

Question 12:
Multiply two integers and assign the result to a variable. Log the variable.

In [27]:
# write code here
result = 2 * 4
print(result, type(result))

8 <class 'int'>

Question 13:
Divide one float by another and assign the result to a variable. Log the variable.

In [29]:
# write code here
result = 5/2
print(result)

2.5


Question 14:
Check if the number 10 is greater than 5. Log the result.

In [30]:
# write code here
is_greater = 10 > 5
print(is_greater)

True

Question 15:
Check if the number 5 is equal to 5. Log the result.

In [31]:
# write code here
is_equal = 5 == 5
print(is_equal)

True

Question 16:
Check if the string "apple" is not equal to the string "banana". Log the result.

In [33]:
# write code here
not_equal = "apple" != "banana"
print(not_equal)

True


Question 17:
Check if the number 7 is less than or equal to 7. Log the result.

In [34]:
# write code here
is_less_or_equal = 7 <= 7
print(is_less_or_equal)

True

Question 18:
Combine two boolean values using the logical AND operator. Log the result.

In [39]:
# write code here
logical_and = True and True
print(logical_and)

True

Question 19:
Combine two boolean values using the logical OR operator. Log the result.

In [43]:
# write code here
logical_or = True or True
print(logical_or)

True

Question 20:
Negate a boolean value using the logical NOT operator. Log the result.

In [50]:
# write code here
person = {'name':'John Doe', 'age': 35, 'address': '23 Westbrook Rd', 'drivable': True}

# check if the person is  eligible to operate a motor vehicle

print(person['drivable'])

True