# Welcome to SQL with Python

Ready to start your journey with SQL and Python? Let's dive right in! üê¨

### Learning Objectives

At the end of this lesson, you'll be able to:

1. Understand the role and importance of SQL in data analysis.
2. Understand basic SQL concepts like tables, schemas, keys (primary and foreign), and SQL data types.
3. Learn how to use Python's psycopg2 library to interact with SQL databases.
4. Set up and connect to a PostgreSQL database in Python.
5. Understand SQL syntax for basic operations: CREATE, SELECT, INSERT, UPDATE, and DELETE.
6. Get introduced to the concepts of Joins and data grouping.

---

# What is SQL?

SQL (Structured Query Language) is a staple language like JSON and CSV. Instead of storing data SQL provides a way to interact with data. SQL is a language that has been around since the 1970s and is still going strong to this day. It is a language that allows us to interact with databases. SQL is used to create, modify, and query databases. While some databases exist without SQL, most databases use SQL as their language of choice. Something like 79 percent to be exact according to [InfoWorld](https://www.infoworld.com/article/2607910/not-so-fast--nosql----sql-still-reigns.html#:~:text=%5B%20The%20best%20open%20source%20software%20of%202022%20%5D&text=While%2079%20percent%20used%20some,with%20some%20form%20of%20NoSQL.).

# PostgreSQL and Railway

PostgreSQL is a powerful, open-source database system. It utilizes SQL to interact with our data. PostgreSQL is a great database to use for this course because it is free and open-source. It is also a very popular database system. It is used by companies like Apple, Spotify, and Netflix. It is also used by the US Department of Defense and the US Department of Energy. PostgreSQL is a great database to learn because it is free, open-source, and widely used.

We are also going to utilize a tool called [Railway](https://railway.app/). Railway is a tool that allows us to create and host PostgreSQL databases for free. It also allows us to connect to our database using a GUI (Graphical User Interface). 

1. Log into [Railway](https://railway.app/) using your GitHub account.
2. Click on the "New Project" button.
3. Select "Provision PostgreSQL".
At this point Railway is going to create a database for you in the cloud. It will take a few minutes for Railway to create your database.
4. Once your database has been created, you will see what looks like a board with a single card on it. This is your project. It should say "Postgres". Click on the project.
5. Next click the connect tab. That screen has the information we need to connect to our database.
6. Let's add those values to the variables below.

In [2]:
PGDATABASE = "railway"
PGHOST = "containers-us-west-86.railway.app"
PGPASSWORD = "reDJwRrN39WCcV7XiRAT"
PGPORT = "5941"
PGUSER = "postgres"

# psycopg2

Next we are going to look at psycopg2. Psycopg2 is a Python library that allows us to interact with PostgreSQL databases. It provides us with a simple interface to connect to our database and execute SQL commands.



#### üßëüèΩ‚Äçüíª You do
**Install psycopg2**
Use your terminal and pip to install psycopg2.
```bash
pip install psycopg2
```
Now let's use Python and psycopg2 to connect to a PostgreSQL database.

```python

In [3]:
import psycopg2

conn = psycopg2.connect(
    host=PGHOST,
    database=PGDATABASE,
    port=PGPORT,
    user=PGUSER,
    password=PGPASSWORD
)

Next we need to open a cursor. A cursor is a control structure that enables traversal over the records in a database. Kind of like you traverse your screen with a mouse cursor. The exact mechanics of a cursor are beyond the scope of this course. For now, just know that we need to open a cursor to interact with our database.

In [4]:
cur = conn.cursor()

# SQL Data Types and Tables

SQL works with different types of data: integers, text, dates, and more. We store this data in structures called 'tables', like a spreadsheet with rows and columns.

#### üßëüèΩ‚Äçüíª You do
**Create a table**
Let's start by creating a 'Patients' table. Our table will have fields for 'name', 'age', 'gender', and 'address'. 

We use CREATE TABLE to create a new table in our database. We follow it with the table name and then a list of fields. Each field has a name and a data type. 

Notice the data types for each field. We will use these data types to tell SQL what kind of data to expect in each field. We will use SERIAL, TEXT, and INTEGER datatypes.


| Data Type | Description |
| --------- | ----------- |
| `SERIAL` | The `SERIAL` data type is an auto-incrementing integer. It's typically used for primary keys in PostgreSQL. When you insert a new row into the table without specifying the value of the SERIAL column, PostgreSQL will automatically generate a new value for you. The value starts from 1, and it's incremented by 1 for each new row. |
| `TEXT` | The `TEXT` data type is used to store character of unlimited length. It's suitable for storing long-form text, comments, document content, etc. Unlike `VARCHAR(n)`, it does not require you to define a length at the table creation stage. |
| `INTEGER` | The `INTEGER` data type is used to store whole numbers, without a fractional component. In PostgreSQL, it has a range of -2147483648 to +2147483647. |

Please note that these are general descriptions, and the specific behavior can vary slightly based on the SQL database system you are using. (PostgreSQL, MySQL, etc.)

We also use the PRIMARY KEY constraint to uniquely identify each row in the table. In this case, we are using the 'id' field as our primary key. We will use this field to uniquely identify each patient in our table.

```python

```

Last thing to note is the cursor methods we are going to use.

| Method | Description |
| ------ | ----------- |
| `execute()` | This method is used to execute a SQL query. It takes a single string as an argument. The string should be a valid SQL query. Also note we use """ to create a multi-line string. This is a Python feature. It allows us to create a string that spans multiple lines. |
| `commit()` | This method is used to save changes to the database. We will use this method after we execute a SQL query that modifies the database. |


```python

```

---

In [4]:

conn.rollback()

cur.execute("""
    DROP TABLE IF EXISTS Patients;
""")
cur.execute("""
    CREATE TABLE Patients (
        id SERIAL PRIMARY KEY,
        name TEXT,
        age INTEGER,
        gender TEXT,
        address TEXT
    );
""")
conn.commit()

# Inserting Data

Now that we have a table, let's add some data! You can insert data into a table using the INSERT command. Let's see an example of inserting a single patient into our Patients table.

In [5]:
# Add a new patient
cur.execute(""" 
  INSERT INTO Patients (name, age, gender, address)
  VALUES ('John Doe', 22, 'Male', 'Apt. 123, 456 Fake St, New York, NY, 10001')
""")
conn.commit()

#### üßëüèΩ‚Äçüíª You do
**Add a patient**
Let's add a patient to our 'Patients' table. We'll use the INSERT statement for this. For now, enter any name, age, gender, and address you like!

In [6]:
# Your code here ‚ùå
# reset buffer
cur.execute("""
  INSERT INTO patients (name, age, gender, address)
  VALUES('Brandon Gottshall', 25, 'male', '123 Easy st. Faketown, USA')
""")
conn.commit()

# Fetching Data

How do we get data out of our database? With the SELECT statement!

Let's select a patient from our 'Patients' table. We'll use the WHERE clause to specify which patient we want to select. For now, let's select the patient with the name 'John Doe'.

In [11]:
cur.execute("""
  SELECT * FROM patients WHERE name = 'John Doe';
"""
)
print(cur.fetchall())

[(1, 'John Doe', 22, 'Male', 'Apt. 123, 456 Fake St, New York, NY, 10001')]

#### üßëüèΩ‚Äçüíª You do
**Retrieve a patient by address**
Try fetching the data of the patient you just in  serted. Use the WHERE clause to select the patient by address. Use the address you entered when you inserted the patient.

In [13]:
# Your code here ‚ùå

# cur.execute
cur.execute("""
  SELECT * FROM patients WHERE address = '123 Easy st. Faketown, USA';
""")
# cur.fetchall
print(cur.fetchall())

[(2, 'Brandon Gottshall', 25, 'male', '123 Easy st. Faketown, USA')]

You can also use the SELECT statement to retrieve all of the data from a table or multiple items. We then use the fetchall() method to return the data as a list of tuples. Each tuple represents a row in the table. Each element in the tuple represents a field in the row.

Let's see an example of fetching all the data from our 'Patients' table.

In [9]:
cur.execute("SELECT gender, address FROM patients")
print(cur.fetchall())

[('Male', 'Apt. 123, 456 Fake St, New York, NY, 10001'), ('male', '123 Easy st. Faketown, USA')]

We can also combine this with thw WHERE clause to select a subset of the data. Let's see an example of fetching all the data from our 'Patients' table where the patient's age is over 20. Notice the `<`. Just like we have in python, we can use `<`, `>`, `<=`, `>=`, `==`, and `!=` to compare values.

In [16]:
conn.rollback()
cur.execute("""
  SELECT * FROM patients
  WHERE age > 20
""")
print(cur.fetchall())

[(1, 'John Doe', 22, 'Male', 'Apt. 123, 456 Fake St, New York, NY, 10001'), (2, 'Brandon Gottshall', 25, 'male', '123 Easy st. Faketown, USA')]

### üßëüèΩ‚Äçüíª You do

**Fetch all male patients**

Carefully craft a query to fetch all of the 'Male' patients from our 'Patients' table.

In [15]:
# Your code here ‚ùå
cur.execute("""
  SELECT * FROM patients
  WHERE gender = 'Male'
""")
print(cur.fetchall())

[(1, 'John Doe', 22, 'Male', 'Apt. 123, 456 Fake St, New York, NY, 10001')]

# Updating Data

What if we need to change some data? The UPDATE statement has our back! Let's say we need to update John Doe's age. We'll use UPDATE along with a new keyword, SET. SET allows us to specify which field we want to update and what value we want to set it to. We'll also use the WHERE clause to specify which patient we want to update.

Here's how we'd do it:

In [17]:
cur.execute("""
    UPDATE patients
    SET age = '31'
    WHERE name = 'John Doe'
""")
conn.commit()

#### üßëüèΩ‚Äçüíª You do
**Update a patient's address**
Let's update the address of the patient you just inserted. You can choose any new address for this exercise. Use the SET and WHERE clauses. Don't forget to commit your changes to the database with conn.commit()


```sql
UPDATE table_name
SET some_field = 'something'
WHERE some_field = 'something else';
```

In [18]:
# Your code here ‚ùå

cur.execute("""
    UPDATE patients
    SET address = '321 Easy st. Faketown, USA'
    WHERE name = 'Brandon Gottshall'
""")
conn.commit()

# Deleting Data

What if we need to remove some data? We use the DELETE statement for this.

Let's say we need to delete John Doe from our 'Patients' table. We'll use DELETE along with the WHERE clause to specify which patient we want to delete. Here's how we'd do it:

In [7]:
cur.execute("DELETE FROM Patients WHERE name = 'John Doe'")
conn.commit()

#### üßëüèΩ‚Äçüíª You do
**Delete a patient**
Let's insert and delete a patient. Make sure you commit your changes to the database with conn.commit() . After you create and delete the patient, use the SELECT statement to verify that the patient was deleted.

In [11]:
# Your code here ‚ùå
conn.rollback()

# Insert a patient
cur.execute("""
  INSERT INTO patients (name, age, gender, address)
  VALUES ('test', 30, 'x', 'x')
""")
conn.commit()

# Select and log all patients
cur.execute("""
  SELECT * FROM patients
""")
print(cur.fetchall())

# Delete a patient
cur.execute("DELETE FROM patients WHERE name = 'test'")

# Select and log all patients
cur.execute("""
  SELECT * FROM patients
""")
print(cur.fetchall())

[(2, 'Brandon Gottshall', 25, 'male', '321 Easy st. Faketown, USA'), (4, 'Brandon Gottshall', 25, 'male', '123 Easy st. Faketown, USA'), (5, 'test', 30, 'x', 'x'), (6, 'test', 30, 'x', 'x')]
[(2, 'Brandon Gottshall', 25, 'male', '321 Easy st. Faketown, USA'), (4, 'Brandon Gottshall', 25, 'male', '123 Easy st. Faketown, USA')]

# Joins

Joining tables is one of the most powerful features of SQL. It lets us combine data from different tables to get a more complete picture of our data. In the current state of our database, we have only a 'Patients' table with patient data. Let's add a 'Visits' table with visit data so we have some data to join.

Let's create a 'Visits' table with fields for 'patient_id', 'visit_date', and 'visit_reason'. We'll use the 'patient_id' field to link visits to patients. This is what the REFERENCES constraint is for. It tells SQL that the 'patient_id' field in the 'Visits' table is a "foreign key", meaning it's the primary key of another table. In this case, it's the primary key of the 'Patients' table. This is how we link the two tables together.
 that references the 'id' field in the 'Patients' table.

In [17]:
conn.rollback()
cur.execute("""
    CREATE TABLE Visits (
        id SERIAL PRIMARY KEY,
        patient_id INTEGER REFERENCES patients(id),
        visit_date TEXT,
        visit_reason TEXT
    )
""")
conn.commit()

Let's add some data:

In [19]:
conn.rollback()
cur.execute("""
    INSERT INTO Visits (patient_id, visit_date, visit_reason)
    VALUES (2, '2021-01-01', 'Checkup')
""")
cur.execute("""
    INSERT INTO Visits (patient_id, visit_date, visit_reason)
    VALUES (2, '2021-02-02', 'Checkup')
""")

cur.execute("""
    INSERT INTO Visits (patient_id, visit_date, visit_reason)
    VALUES (2, '2021-01-01', 'Checkup')
""")

conn.commit()

Now we'll use a JOIN to combine the data from the 'Patients' and 'Visits' tables. We'll use the ON clause to specify how the two tables are linked. In this case, we'll link them by the 'patient_id' field in the 'Visits' table and the 'id' field in the 'Patients' table. Let's print all of the visits for John Doe.

In [21]:
cur.execute("""
    SELECT * FROM Patients
    JOIN Visits ON Visits.patient_id = Patients.id
    WHERE Patients.id = 2
""")
print(cur.fetchall())

[(2, 'Brandon Gottshall', 25, 'male', '321 Easy st. Faketown, USA', 4, 2, '2021-01-01', 'Checkup'), (2, 'Brandon Gottshall', 25, 'male', '321 Easy st. Faketown, USA', 5, 2, '2021-02-02', 'Checkup'), (2, 'Brandon Gottshall', 25, 'male', '321 Easy st. Faketown, USA', 6, 2, '2021-01-01', 'Checkup')]

Let's join the 'Patients' and 'Visits' tables. List all of the visits but include the patient's name instead of the patient_id. Use the ON clause to link the two tables by the 'patient_id' field in the 'Visits' table and the 'id' field in the 'Patients' table. We'll add the patient's name to the fields were asking for in the SELECT statement. We'll also use the AS keyword to give the name field an alias of 'patient_name'. This will make the output easier to read.


```python

In [22]:
cur.execute("""
    SELECT VISITS.*, Patients.name AS patient_name FROM Visits
    JOIN Patients ON Visits.patient_id = Patients.id
""")
print(cur.fetchall())

[(4, 2, '2021-01-01', 'Checkup', 'Brandon Gottshall'), (5, 2, '2021-02-02', 'Checkup', 'Brandon Gottshall'), (6, 2, '2021-01-01', 'Checkup', 'Brandon Gottshall')]

---

# That's a wrap!

You've done some great work today, learning how to use SQL with Python. Remember, practice makes perfect, so keep playing with different SQL commands and exploring your data. Before you go, don't forget to close your database connection!

In [23]:
conn.close()